uvicorn[standard]
websockets
wsproto
SQLAlchemy
uvicorn
unidecode
fastapi
python-decouple
requests
httpx
passlib
pydantic[email]
python-slugify
shortuuid
python-jose
python-multipart
aiofiles
bcrypt
pymysql
apscheduler
typing-inspect
fastapi-utils
mysql-connector-python
psycopg2-binary
pillow
huggingface_hub
python-Levenshtein
fuzzywuzzy
slowapi
jwt
redis
